<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>Conócenos</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="Equivida Salud Ocupacional, somos una ips especializada en salud en el trabajo.
                                  brindamos servicios con altos estándares de calidad. ¡En equipo cuidamos tu vida!" />
  <meta name="keywords"
    content="equivida, salud ocupacional, examenes, medicina laboral, villavicencio, seguridad, buque">
  <meta name="author" content="Cesar Mesa, Daniela Velasquezz" />
  <link rel="stylesheet" href="../assets/css/main.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="../assets/images/nuevo_logo_equivida.png" type="image/x-icon">

  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176931390-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-176931390-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1771284346351927');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1771284346351927&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body class="homepage is-preload">
  <div id="page-wrapper">

    <!-- Header -->
    <section id="header">
      <section class="container">
        <div class="row">
          <div class="col-4 col-6-medium col-12-small">
            <a class="navbar-brand" href="index.html"><img src="../assets/images/nuevo_logo_equivida_3.png"
                class="img-responsive" alt="Logo"></a>
          </div>
          <div class="col-4 col-6-medium col-12-small">
            <a class="navbar-brand" target="_blank" href="https://www.supersalud.gov.co/es-co"><img
                src="../assets/images/SuperSalud.png" class="img-responsive" alt="Logo"></a>
          </div>
          <div class="col-4 col-12-medium">
            <a class="navbar-brand" target="_blank" href="https://www.minsalud.gov.co/Paginas/default.aspx"><img
                src="../assets/images/MinSalud.png" class="img-responsive" alt="Logo"></a>
          </div>
        </div>
      </section>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="../index.html">INICIO</a></li>
          <li class="current"><a href="#">CONÓCENOS</a></li>
          <li><a href="noticias.html">NOTICIAS</a></li>
          <li><a href="servicios.html">SERVICIOS</a></li>
          <li><a href="convenios.html">CONVENIOS</a></li>
          <li><a href="clientes.html">CLIENTES</a></li>
          <li><a href="contacto.html">CONTÁCTENOS</a></li>
          <li>
            <a href="#">ACCESO</a>
            <ul>
              <li><a href="aplicaciones.html">APLICACIONES</a></li>
              <li><a href="https://equivida.codesoft.com.co/login.php" target="_blank">INTRANET</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <!-- Banner -->
      <section id="banner">
        <header>
          <div>
            <img src="../assets/images/equivida - miembros.png" alt="Encabezado de página"
              style="height: 300px; filter: brightness(40%); width: 100%; object-fit: cover;">
            <p class="main-title">CONÓCENOS</p>
          </div>
        </header>
      </section>

      <!-- Intro -->
      <section id="intro" class="container">
        <div class="row">
          <div class="col-6 col-12-medium">
            <section class="first">
              <header>
                <p class="second-title">MISIÓN</p>
              </header>
              <dotlottie-player src="https://lottie.host/c1ca5119-737d-48b9-8589-fac8158b1b17/d1MVF4jEdf.json"
                background="transparent" speed="1" style="width: 300px; height: 300px; margin: auto;" loop
                autoplay></dotlottie-player>
              <p class="paragraph">
                Cooperar en el cuidado de las condiciones óptimas de salud de los trabajadores de nuestras empresas
                clientes, disponiendo de una alta tecnología y un talento humano competente.
              </p>
            </section>
          </div>
          <div class="col-6 col-12-medium">
            <section class="middle">
              <header>
                <p class="second-title">VISIÓN</p>
              </header>
              <dotlottie-player src="https://lottie.host/0861cbdb-ff40-4eba-ab2b-11717471d6f6/LgH8dmEDWp.json"
                background="transparent" speed="1" style="width: 300px; height: 300px; margin: auto;" loop
                autoplay></dotlottie-player>
              <p class="paragraph">
                Ser reconocida en el 2025 como empresa líder en la prestación de servicios de Seguridad y Salud en el
                Trabajo, para las empresas de todos los sectores económicos y grupos de interés de la Región.
              </p>
            </section>
          </div>
        </div>
        <h2 class="fancy" style="--w: 50vw;--c: #1D3349;--b:4px;--g: 40px; margin: 30px auto;">Más información</h2>

        <div class="row" style="text-align: center;">
          <div class="col-6 col-6-medium col-12-small">
            <section>
              <img src="../assets/images/pic02.jpg" alt="" style="width: 80%; margin: auto; margin-bottom: 12px;" />
              <header>
                <p class="third-title">Política de calidad</p>
              </header>
              <p class="paragraph-small">EQUIVIDA S.O. IPS está comprometida para con los clientes individuales y corporativos en la
                prestación de servicios de salud con énfasis en medicina laboral y del trabajo de manera integral,
                oportuna y con resultados confiables acordes con la normatividad general y los requisitos del
                cliente para satisfacer sus necesidades y expectativas.</p>
            </section>
          </div>
          <div class="col-6 col-6-medium col-12-small">
            <section>
              <img src="../assets/images/pic03.jpg" alt="" style="width: 80%; margin: auto; margin-bottom: 12px;" />
              <header>
                <p class="third-title">Objetivos</p>
              </header>
              <ol id="list3"
                style="text-align: left !important; font-family: Verdana, Geneva, Tahoma, sans-serif; width: 80%; margin: auto;">
                <li>Asegurar que los clientes reciban el 60% o más de los servicios de medicina laboral y del trabajo
                  a través de la prestación directa por EQUIVIDA.</li>
                <li>Mantener una oportunidad en la entrega del certificado médico de aptitud laboral antes de las 4
                  pm del mismo día en que se atiende el usuario.</li>
                <li>Lograr que los usuarios que tienen 1 a 3 exámenes sean atendidos en un tiempo promedio
                  menor o igual a 90 minutos y los que tienen 4 a 8 exámenes en no más de 180 minutos.</li>
                <li>Lograr un nivel de satisfacción de los clientes individuales en un 90%.</li>
                <li>Responder a todos los requerimientos realizados por los clientes en relación con el certificado
                  médico de aptitud laboral.</li>
              </ol>
            </section>
          </div>
        </div>
        <div class="row" style="text-align: center;">
          <div class="col-6 col-6-medium col-12-small">
            <section>
              <img src="../assets/images/pic04.jpg" alt="" style="width: 80%; margin: auto; margin-bottom: 12px;" />
              <header>
                <p class="third-title">Política de seguridad del paciente</p>
              </header>
              <p class="paragraph-small">Equivida Salud ocupacional SAS, se compromete a prestar servicios de medicina del trabajo,
                seguridad y salud en el trabajo y seguridad industrial, a través de un conjunto de prácticas
                institucionales tendientes a aumentar los niveles de seguridad en la prestación del servicio
                protegiendo con ello al paciente de riesgos evitables derivados de la atención en salud, mediante la
                identificación, prevención y reducción de los riesgos que se generen durante el proceso de
                atención y en condiciones que garanticen la seguridad y confianza del paciente, su familia y del
                equipo médico.</p>
              <p class="paragraph-small">Para llevar a cabo este compromiso, se han definido las siguientes estrategias:</p>
              <ol id="list3"
                style="text-align: left !important; font-family: Verdana, Geneva, Tahoma, sans-serif; width: 80%; margin: 20px auto;">
                <li>Idoneidad del personal</li>
                <li>Infraestructura segura</li>
                <li>Modelo de atención</li>
                <li>Prácticas asistenciales seguras</li>
                <li>Registro y gestión de eventos adversos</li>
              </ol>
              <p class="paragraph-small">La Gerencia desde su planeación anual se compromete a desarrollar todas las actividades
                relacionadas con el despliegue, implementación y verificación de políticas, programas y procesos
                relacionados con la Seguridad del Paciente, y nos comprometemos a realizar seguimientos de
                factores condicionantes de riesgos, la disminución de situaciones inseguras y el mejoramiento
                continuo durante el proceso de atención en salud, por medio de la cultura de seguridad de
                paciente.</p>
            </section>
          </div>
          <div class="col-6 col-6-medium col-12-small">
            <section>
              <img src="../assets/images/pic05.jpg" alt="" style="width: 80%; margin: auto; margin-bottom: 12px;" />
              <header>
                <p class="third-title">Documentación</p>
              </header>
              <p class="paragraph-small" style="font-weight: bold;">Estado financiero 2021</p>
              <div style="margin-top: 20px; text-align: center;">
                <a target="_blank" href="http://equividasaludocupacional.com/files/ESTADO_FINANCIERO_2021.pdf">
                  <img src="../assets/images/pricing/pdf.jpg" />
                </a>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section>

    <a href="https://api.whatsapp.com/send?phone=573223098948&text=Hola,%20estuve%20revisando%20su%20sitio%20web%20y%20quiero%20conocer%20m%C3%A1s%20sobre%20sus%20servicios" target="_blank"
      title="¿Podemos ayudarte?">
      <div id="whatsappContainer">
        <img src="../assets/images/icons/whatsapp.png" width="60px"
          height="60px" alt="Whatsapp iconos creados por Fathema Khanom - Flaticon">
      </div>
    </a>

    <!-- Footer -->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-4 col-6-medium col-12-small">
            <h3 style="text-align: center;">IPS Villavicencio</h3>
            <ul class="contact-info">
              <li>
                <i class="fa-solid fa-location-dot"></i>
                <div>
                  <p>Calle 32 # 39-35 Barzal (ANTIGUA DIAN)</p>
                  <p>Villavicencio - Meta</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-envelope"></i>
                <div>
                  <p><a href="mailto:diradministrativo@equividaso.com.co"
                      style="text-decoration: none;">diradministrativo@equividaso.com.co</a></p>
                  <p><a href="mailto:gestionintegral@equividaso.com.co"
                      style="text-decoration: none;">gestionintegral@equividaso.com.co</a></p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-phone-volume"></i>
                <div>
                  <p><a href="tel://6086849725" style="text-decoration: none;">6086849725</a></p>
                  <p><a href="tel://3223098940" style="text-decoration: none;">+57 322 309 8940</a></p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-4 col-6-medium col-12-small" style="text-align: center;">
            <h3>IPS Acacías</h3>
            <ul class="contact-info">
              <li>
                <i class="fa-solid fa-location-dot"></i>
                <div>
                  <p>Calle 13 # 12-44 Juan Mellao</p>
                  <p>Acacías - Meta</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-envelope"></i>
                <div>
                  <p><a href="mailto:acacias@equividaso.com.co"
                      style="text-decoration: none;">acacias@equividaso.com.co</a></p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-phone-volume"></i>
                <div>
                  <p><a href="tel://6086574544" style="text-decoration: none;">6086574544</a></p>
                  <p><a href="tel://3223098942" style="text-decoration: none;">+57 322 309 8942</a></p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-4 col-6-medium col-12-small" style="text-align: center; margin-bottom: -80px;">
            <h3>Nuestras redes sociales</h3>
            <div class="social-networks">
              <a href="https://linkedin.com/company/equividaso" target="_blank" title="Linkedin">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="https://twitter.com/equividaso" target="_blank" title="X">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a href="https://facebook.com/equivida.so" target="_blank" title="Facebook">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="https://instagram.com/equivida.so" target="_blank" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
            <hr>
            <h3>Horario de Atención</h3>
            <div class="container" style="margin-top: 20px;">
              <div class="row">
                <div class="col-6">Lunes - Viernes:</div>
                <div class="col-6">
                  <ul style="list-style: none; text-align: left;">
                    <li>7:00 am - 12:00 pm</li>
                    <li>1:00 pm - 4:00 pm</li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-6">Sábados:</div>
                <div class="col-6">
                  <ul style="list-style: none; text-align: left;">
                    <li>7:00 am - 12:00 pm</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 60px;">
          <div class="col-12">
            <div id="copyright">
              <a id="openButton" onclick="closePopup('popup-overlay1')" style="text-decoration: none;">Ver créditos</a>
              <!-- This pop-up is hidden -->
              <div class="popup-overlay" id="popup-overlay1">
                <div class="popup">
                  <div class="container containerPopup">
                    <div class="row" style="font-size: 20px;">
                      <div class="col-12">
                        <p class="paragraph" style="font-weight: bold;">EMPRESAS</p>
                        <img src="../assets/images/logos/arte-sky-digital.png" alt="Logo de Arte Sky DIGITAL" style="margin-top: 10px;">                        
                      </div>
                      <div class="col-6 col-6-medium col-12-small">
                        <p>Copyright &copy; 2017 - Desarrollado por C&K Soluciones de Software.</p>
                      </div>
                      <div class="col-6 col-6-medium col-12-small">
                        <p>Copyright &copy; 2023 - Rediseño por <a href="https://artesky.co/" target="_blank" style="text-decoration: none; color: blue; font-weight: bold;">Arte Sky DIGITAL</a>.</p>
                      </div>
                    </div>
                    <div class="row" style="font-size: 20px;">
                      <div class="col-12">
                        <p class="paragraph" style="font-weight: bold;">RECURSOS Y PLANTILLA</p>                          
                      </div>
                      <div class="col-6 col-6-medium col-12-small">
                        Design: <a href="http://html5up.net" target="_blank" style="text-decoration: none; color: blue; font-weight: bold;">
                          HTML5 UP
                        </a>
                      </div>
                      <div class="col-6 col-6-medium col-12-small">
                        Demo Images: <a href="https://www.facebook.com/dreametry.ph" target="_blank" style="text-decoration: none; color: blue; font-weight: bold;">
                          Dreametry Doodle
                        </a>
                      </div>
                    </div>
                    <div style="margin-top: 20px;">
                      <p class="paragraph" style="font-weight: bold;">ICONOS OBTENIDOS DE FLATICON</p>
                      <ol style="list-style: none; font-size: 15px; font-weight: bold; margin-top: 20px;">
                        <li>
                          <a href="https://www.flaticon.es/iconos-gratis/whatsapp" target="_blank" title="Whatsapp iconos" style="color: blue; text-decoration: none;">
                            Whatsapp iconos creados por Fathema Khanom - Flaticon
                          </a>
                        </li>
                        <li>
                          <a href="https://www.flaticon.es/iconos-gratis/encuesta-en-linea" target="_blank"
                            title="Encuesta en línea iconos" style="color: blue; text-decoration: none;">
                            Encuesta en línea iconos creados por Awicon - Flaticon
                          </a>
                        </li>
                        <li>
                          <a href="https://www.flaticon.es/iconos-gratis/mensaje" target="_blank" title="mensaje iconos" style="color: blue; text-decoration: none;">
                            Mensaje iconos creados por Freepik - Flaticon
                          </a>
                        </li>
                      </ol>
                    </div>
                    <div style="text-align: right;">
                      <button class="closeButton" onclick="closePopup('popup-overlay1')" style="text-decoration: none;" title="Cerrar">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Scripts -->
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/jquery.dropotron.min.js"></script>
  <script src="../assets/js/browser.min.js"></script>
  <script src="../assets/js/breakpoints.min.js"></script>
  <script src="../assets/js/util.js"></script>
  <script src="../assets/js/main.js"></script>

</body>

</html>